body{
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1080px;
    margin: auto;
}
.header{
    display: flex;
    align-items: center;
    width: 100%;
    color: #fff;
    background:#202938;
}

.logo{
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 900;
}

.logo .accept{
    color: #fff;
}

.logo .it{
    color: #f70505;
}

.nav{
    margin: 0 0 0 auto;

}

.nav a{
    text-decoration: none;
    color: #fff;
}

.nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.hero{
    background: #202938;
    color: #fff;
}

.hero .container{
    padding: 50px 0;
}

.hero-text, .hero-image{
    width: 450px;
    font-size: 20px;   
}

.hero-text h1{
    font-size: 50px;  
    margin:0; 
}

.hero-text p{ 
    margin: 10px 0; 
}

.hero-text button{
    margin: 10px 0;   
    font-size: 20px;
    padding: 20px;
}

.hero-image{
    border-radius: 250px;
    margin-left: auto;
}

button{
    padding: 10px;
    border-radius: 10px;
    border: 0px;
    color: #fff;
    background: #3a82f6;
    font-weight: 900;
    
}

.benefits{
    text-align: center;
}

.benefits .container{
    height: 400px;
    align-items: flex-start;
}

.benefits h2{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 50px;
    font-size: 30px;
}

.benefits img{
    border-radius: 10px;
}

.benefits h3{
    margin: 10px auto;
}

.benefits p{
    margin: 0 auto;
    width: 240px;
}

.social-proof{
    background: #eee;
}

.social-proof .container{
    flex-direction: column;
    justify-content: center;
    height: 300px;
    align-items: center;
    width: 750px;
}

.social-proof p{
    width: 100%;
    text-align: center;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #4f4f4f;
}

.autor{
    text-align: right;
    font-size: 20px;
    margin: 0;
}